
body {
    background-image: url(scania-campo.jpg); 
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-group {
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    border-color: #555;
    
}

.auth-container {
    margin: 25px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
    

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bolder;
    color: #333;
}

/* Estilo para los campos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus {
    outline-color: #007bff;
}
.btn{
    font-weight: bolder;
}
/* Estilo para los mensajes de error */
input:invalid {
    border-color: rgb(87, 87, 87);
    height: 20px;
}

input:valid {
    border-color: rgb(81, 82, 81);
    height: 20px;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

/* Botón de envío */
.submit-group {
    margin-top: 20px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #095f06;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.auth-link a{
    text-decoration: none;
    
}
.submit-btn:hover {
    background-color: #0056b3;
}

/* Enlace de "olvidaste contraseña" */
.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    font-size: 12px;
    color: #15ff00;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

