body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(img/1679398437039.png); /* Cambia por tu imagen */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .main-header {
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 100, 3, 0);
    color: rgb(159, 156, 156);
    font-size: 1rem;
  }
  
  .container {
    max-width: 500px;
    margin: 30px auto; /* <-- Bajamos de 100px a 60px */
    background: rgba(7, 200, 4, 0.526);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #0b0c0b;
  }
 
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-self: center;
  }
  #role{
    padding: 20px;
  }
  input, button {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  button {
    background-color: #573409;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #edac13;
  }
  
  .mensaje {
    margin-top: 20px;
    background: #dff0d8;
    padding: 10px;
    border: 1px solid #a5d6a7;
    border-radius: 6px;
    color: #146911;
    display: none;
    white-space: pre-line;
  }
  .form-group{
    display: flex;
    border: none;
    justify-content: space-between;
    height: 20px;
    border-radius: 5px;
  }
  