*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    font-family: 'Space grtesk', sans-serif;
    background-color: black;

}
h1{
    font-family: 'montserrat', sans-serif;
    text-align: center;
    padding-top: 30px 0px;
}
option{
    color: black;
}
img{
    width: 350px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
}
.contenedor>div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #45ba4f;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
    filter: brightness(0.8);
    flex: 1 1 300px;
}
.contenedor>div>form{
    display: flex;
    flex-direction: column;
    gap: 2px;
    color:black;
}
.contenedor>div>form>input,select{
    border-radius: 5px;
    border: none;
    padding: 5px;
    color:black;
}
.contenedor .button{
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: rgb(255, 128, 9);
    color:black;
}
.contenedorProductos h2{
    text-align: center;
    color: black;
    padding-bottom: 20px;
    font-weight: 300px;
    font-size: 40px;
}
.mostrarProductos{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.mostrarProductos>div{
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0.75);
    background-color: #0b7d15;
    border-radius: 20px;
}
.contenedorMensaje {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    height: 70px;
}

.repetidoError,
.realizado,
.llenarCampos,
.noExsiteError {
    margin: 15px 0px;
}

.llenarCampos::after,
.noExsiteError::after,
.repetidoError::after,
.realizado::after {
    background-color: rgb(56, 142, 20);
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.realizado::after {
    content: 'Realizado';
    background-color: green;
}

.repetidoError::after {
    content: 'Este elemento ya existe';
}

.llenarCampos::after {
    content: 'Por favor compruebe que todos los campos estan llenos';
}

.noExsiteError::after {
    content: 'Este elemento no existe';
}
.informacion{
    height: 150px;
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}
.informacion>p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
